footer.footer
    .footer__main
        .container 
            .footer__main-inner
                .footer__column
                    .footer__column-logo
                        +img('logo')
                    p.footer__column-text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                .footer__column
                    span.footer__column-title.caption навигация
                    ul.footer__column-list.list
                        li.list__item
                            a(href="").list__link О нас
                        li.list__item
                            a(href="").list__link Новости
                        li.list__item
                            a(href="").list__link Служба поддержки
                        li.list__item
                            a(href="").list__link Услуги
                .footer__column
                    span.footer__column-title.caption о нас
                    ul.footer__column-list.list
                        li.list__item
                            a(href="").list__link О сервисе
                        li.list__item
                            a(href="").list__link Наша команда
                        li.list__item
                            a(href="").list__link Вакансии
                        li.list__item
                            a(href="").list__link Инвесторы
                .footer__column
                    span.footer__column-title.caption Служба поддержки
                    ul.footer__column-list.list
                        li.list__item
                            a(href="").list__link Соглашения
                        li.list__item
                            a(href="").list__link Сообщества
                        li.list__item
                            a(href="").list__link Связь с нами
                .footer__column
                    span.footer__column-title.caption Подписка
                    p.footer__column-text Получайте специальные предложения и новости сервиса
    .footer__under
        .container
            .footer__under-inner
                span.footer__copyright_text Copyright © 2018 Toxin отель. Все права зачищены.
                .footer__social.social
                    a(href="").social__link.twitter
                        +img('twitter')
                    a(href="").social__link.fb
                        +img('fb')
                    a(href="").social__link.inst
                        +img('inst')
