@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  font-size: $base-font-size;
  height: 100%;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: $dark-50;
  font-family: $font-montserrat;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea {
  vertical-align: middle;
}

textarea {
  resize: none;
}

section {
  position: relative;
}

input,
select,
button {
  outline: none;
}

table {
  border-collapse: collapse;
}

a[class] {
  font: inherit;
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  position: relative;
  flex: 1 0 auto;
  &-main {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding-top: 140px;
    padding-bottom: 20px;
    &-inner {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
    &__text {
      align-self: flex-end;
      max-width: 300px;
      text-align: right;
      color: $dark-75;
      line-height: 24px;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: $content-size;
  width: 100%;
}

//Модули
@import "modules/modules";
