header.header
    .container
        .header-inner
            .header__logo
                +img('logo')
            nav.header__nav.nav
                ul.nav__list
                    li.nav__item.active 
                        a(href="").nav__link О нас
                    li.nav__item 
                        a(href="").nav__link Услуги
                    li.nav__item 
                        a(href="").nav__link Вакансии
                    li.nav__item 
                        a(href="").nav__link Новости
                    li.nav__item 
                        a(href="").nav__link Соглашения
                include ../user/auth.pug