.slider
    div(style="background-image: url(static/images/general/slide-bg-1.jpg)").slider__item 1
    div(style="background-image: url(static/images/general/slide-bg-2.jpg)").slider__item 2
    div(style="background-image: url(static/images/general/slide-bg-3.jpg)").slider__item 3