form(action="#" method="post").form
    .form__header
        .form__header-title.title Найдём номера под ваши пожелания
    .form__body
        include ../../../ui-kit/ui-datepicker/ui-datepicker
    .form__footer
        button.btn.btn-primary.btn--wide.btn--arrow-right подобрать номер